@model internet_shop_RazorPages.Product
@{
    ViewData["Title"] = "Info About Product";
}
<h1>@ViewData["Title"]</h1>


    @{
        <ul>
            <li>Description: @Model.description</li>
        </ul>
     }
